/* ---------- Carrito de compras ---------- */

/* ---------- Divs del carro ---------- */
.seccion_carro
{
    width: 100%;
    height: 100%;
    background-color: black;
}
.seccion_tabladecompras
{
    width: 100%;
    height: 70%;
    justify-content: center;
}
.seccion_tabladeprecios
{
    width: 100%;
    height: 30%;
    justify-content: center;
}

/* ---------- Tablas del Carrito ---------- */

/* ---------- Tablas de Compras ---------- */
.tabladecompras
{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
}
.tabladecompras th,
.tabladecompras td
{
    border: 1px solid white;
    color: white;
    background-color:rgb(49, 49, 49);
    outline: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    height: auto;
}
.tabladecompras th:nth-child(1),
.tabladecompras td:nth-child(1)
{
    width: 50%; /*ancho de la primer columna*/
}
.tabladecompras th:nth-child(2),
.tabladecompras td:nth-child(2)
{
    width: 35%; /*ancho de la segunda columna*/
}
.tabladecompras th:nth-child(3),
.tabladecompras td:nth-child(3)
{
    width: 15%; /*ancho de la tercer columna*/
}
.tabladecompras tr:first-child th,
.tabladecompras tr:first-child td
{
    text-align: center; /*centrado de la primer fila*/
}

/* ---------- Tablas de precios ---------- */
.tabladeprecios
{
    width: auto;
    height: auto;
    margin-left: 0%;
    margin-right: auto;
    border-collapse: collapse;
}
.tabladeprecios th,
.tabladeprecios td
{
    border: 1px solid gray;
    padding-inline: 10px;
    color: gray;
    height: auto;
}