/* ---------- CSS del Carrito de compras ---------- */

/* ---------- Divs de Página ---------- */
.estructuraMainCompras
{
    display: flex;
    width: 90vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* ---------- Tabla de Compras ---------- */
.tabladecompras
{
    width: auto;
    height: auto;
    border-spacing: 10px;
}
.tabladecompras th,
.tabladecompras td
{
    color: white;
    padding: 10px;
    height: auto;
    text-align: center;
}
.tabladecompras img
{
    display: flex;
    max-height: 90px;
}
.tabladecompras thead, 
.tabladecompras tfoot
{
    text-align: start;
    background-color: rgb(25, 25, 25);
}

.imgMainSegundo{
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;

}
/* ---------- Boton de Pago ---------- */
.botondepago
{
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 16px 32px;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}
.botondepago:hover 
{
    background-color: red;
    color: white;
}
/* ---------- Tablas de precios ---------- */
.tabladeprecios
{
    width: auto;
    height: auto;
    margin-left: 0%;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 12px;
}
.tabladeprecios th,
.tabladeprecios td
{
    border: 1px solid gray;
    padding-inline: 10px;
    color: gray;
    height: auto;
}
/* ---------- Texto de precios ---------- */
.txtdeprecios
{
    font-size: 12px;
    color:gray;
}

/* ---------- Sobre Nosotros ---------- */
.textosobrenos
{
    color: white;
    text-align: center;
    padding: 20px;
}

/* ---------- MediaQuery ---------- */
@media screen and (max-width: 475px)
{

    .imgMainSegundo{
        min-width: 5rem;
        max-width: 5rem;
        min-height: 5rem;
        max-height: 5rem;
    }


}