/* ---------- CSS del Formulario de Tarjetas ---------- */

/* ---------- Divs de Página ---------- */
.seccionformtarjetas
{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.seccionbotones
{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.estructuraMainCompras
{
    display: flex;
    justify-content: center;
    width: 90vw;
    min-height: 100vh;
}
/* ---------- Form de Pago ---------- */
.formdetarj
{
    border: 1px solid white;
    color: white;
    background-color:rgb(49, 49, 49);
    outline: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: 60%;
}
input, select
{
    width: 100%;
}
.divformpagoselect
{
    display: flex;
    gap: 10px;
}
/* ---------- Boton de Pago ---------- */
.botondesubmit
{
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 16px 32px;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    max-width: 25%;
    max-height: 64px;
}
.botondesubmit:hover 
{
    background-color: red;
    color: white;
}

@media screen and (max-width: 450px)
{
    .divformpagoselect
    {
        flex-direction: column;
    }
}
@media screen and (max-width: 540px)
{
    .botondesubmit
    {
    padding: 0px;
    }
}
