
.estructuraMain{
    display: flex;
    padding-left: 10rem;
    width: 90vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: top center;

}

.EsqueletoPeliculasSeries{
    min-height: 100vh;
    max-width: 100%;
    display: flex; 
    flex-direction: column;
    gap: 5rem;
}

.EsqueletoPeliculasSeries h3{
    color: aliceblue;
}

.SeccionTitulo{
    height: 10vh;
    width: 100vh;

}

.SeccionGenero{
    height: 5vh;
    min-width: 100%;
}

.SeccionBotones{
    height: 20vh;
    min-width: 100%;
}

.SeccionTexto{
    height: 50vh;
    min-width: 100%;
}

/*------------Titulo-----------/*/
.titulodePelicula{
    position: relative;
    display:grid;
    width: 100%;
    height:fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.titulodePelicula h5{
    color: aliceblue;
    justify-content: center;

    
}

/*------------Imagenes y demostraciones -----------/*/

#imagenesPelicula{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    height: 100%;
}

.trailer{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
     height:500px;
}

#imagenPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#imagenPrincipalItem{
    height: 345px;
    width: 238px;
}

#descripcionPelicula{
    display: flex;
    position: relative;
    color: aliceblue;
    height: fit-content;
}

#agregarCarrito{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    position: relative;


    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 16px 32px;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}
#agregarCarrito:hover{
    background-color: red;
    color: white;
}

/*-------------Media****************/
@media screen and (max-width: 1380px) {
    /*//////////////////////////INDEX.HTML////////////*/
    #trailerItem{
        width: 500px !important;
        height: 250px !important;
    }
}