.registrar{
    border: 1px solid white;
    position: absolute;
    left: 35%;
    top: 20%;
    width: 30%;
    height: auto;
    justify-content: center;
    background: rgb(49, 49, 49);
    border-radius: 15px;
    display: flex;
    justify-content: top, center;
    flex-direction: column;
    align-items: 50%;
    padding-bottom: 1%;
}

.registrar h1 {
    text-align: center;
    color: red;
    border-bottom: 1px solid white; 
    padding-bottom: 10px;
}
.registrar .nombrer{
    position: relative;
    margin: 5px;
    color: white;
    border-bottom: 1px solid white; 
    left: 5px;
}
.nombrer input{
    width: 100%;
    height: 15%;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.nombrer label{
    position: relative;
    top: -3px;
    left: 5px;
    color: gainsboro;
    font-size: 20px;
}
form .contra{
    position: relative;
    margin: 5px;
    color: white;
    border-bottom: 1px solid white; 
    left: 5px;
}
.contra input{
    width: 100%;
    height: 15%;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.contra label{
    position: relative;
    top: -3px;
    left: 5px;
    color: gainsboro;
    font-size: 20px;
}
form .vuelva{
    position: relative;
    margin: 5px;
    color: white;
    border-bottom: 1px solid white; 
    left: 5px;
}

.vuelva input{
    width: 100%;
    height: 15%;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.vuelva label{
    position: relative;
    top: -3px;
    left: 5px;
    color: gainsboro;
    font-size: 20px;
}
form .correor{
    position: relative;
    margin: 5px;
    color: white;
    border-bottom: 1px solid white; 
    left: 5px;
}
.correor input{
    width: 100%;
    height: 15%;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.correor label{
    position: relative;
    top: -3px;
    left: 5px;
    color: gainsboro;
    font-size: 20px;
}
form .celu{
    position: relative;
    margin: 5px;
    color: white;
    border-bottom: 1px solid white; 
    left: 5px;
}

.celu input{
    width: 100%;
    height: 15%;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.celu label{
    position: relative;
    top: -3px;
    left: 5px;
    color: gainsboro;
    font-size: 20px;
}

.botones
{
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
}
form .envia{
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 16px 32px;
    width: 30%;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    color: black;
    outline: none;
    cursor: pointer;
}
.envia input{
    border: none;
    background: none;
    outline: none;
    color: black;
}
form .cance{
border: 1px solid white;
color: white;
font-weight: bold;
background-color: black;
padding: 16px 32px;
font-size: 16px;
transition-duration: 0.3s;
cursor: pointer;
border-radius: 10px;
border: 3px solid;
background-color: red;
border-radius: 50px;
text-align: center;
color: black;
outline: none;
cursor: pointer;
}
.cance input{
    border: none;
    background: none;
    outline: none;
    color: black;
}
