
.content{
    padding-left: 5rem;
    max-width: 90vw;
    min-height: 100vh;
    background-color: rgb(16, 20, 24);
}

/*/////////////////////////////////////////// Header*/

.header{
    width: 90vw;
    min-height: 15%;
    display: flex; 
    background-color: black;
    padding-top: 0.5rem;
}

.estructuraHeader{
    display: flex;
    padding-left: 10rem;
    width: 90vw;
    min-height: 15vh;
}

.header1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    height: 100%;
}

.header2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 1rem;
    width: 100%;
    height: 100%;
}

.header1 img{
    height: 5rem;
    width: 5rem;
}

.navOculto{
    display:none;
}

/*/////////////////////////////////////////// MAIN */
.main{
    width: 90vw;
    min-height: 100vh;
    display: flex;
    background-color: black;
}

.estructuraMain{
    display: flex;
    padding-left: 10rem;
    width: 90vw;
    min-height: 100vh;
}

.mainSegundo{
    min-height: 100vh;
    max-width: 100%;
    display: flex; 
    flex-wrap: wrap;
}

.mainMasVistas{
    min-height: 33.3333333333%;
    max-height: 100%;
    width: 90vw;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: column;
}

.seccionMiniaturas{
    min-height: 90%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 10rem;
}

.subTituloMain{
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    min-height: 20%;
    max-height: 100%;
    max-width: 100%;
}

.subTituloMain h5{
    color: whitesmoke;
}

.card{
    display: flex;
}

.imgMainSegundo{
    min-width: 13rem;
    max-width: 13rem;
    min-height: 13rem;
    max-height: 13rem;
}

/*/////////////////////////////////////////// FOOTER */

footer{
    height: 25vh;
    width: 90vw;
    display: flex;  
    background-color: black;
}


.footer1{
    width: 33%;
    height: 100%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.footer2{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.footer3{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerA{
    color:white;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.0vw;
}

.socials-item i {
    display: inline-block;
    font-weight: normal;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.facebook {
    color: #4e64b5;
}

.twitter {
    color: #00aced;
}

.instagram {
    color: #9a8f62;
}

.youtube {
    color: #c82929;
}

.telegram {
    color: #2ca5e0;
}

a.socials-item:hover {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
}

.footer-bottom a:hover {
    color: white;
}

footer p,
footer li {
    font-size: 15px;
    line-height: 22px;
}

/*//////////////////////////////////////////////////////   @mediaQuery ////*/
@media screen and (max-width: 1700px) {
    /*//////////////////////////INDEX.HTML////////////*/
    .seccionMiniaturas{
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    .subTituloMain{
        min-height: 5%;
        align-items: center;
        padding: 1rem;
    }
}

@media screen and (max-width: 1380px) {
    /*//////////////////////////INDEX.HTML////////////*/
    .mainMasVistas{
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .seccionMiniaturas{
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .subTituloMain{
        min-height: 5%;
        align-items: center;
        padding: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    /*//////////////////////////INDEX.HTML////////////*/
    .content{
        padding-left: 0rem;
    }
    .estructuraHeader{
        padding-left: 0.5rem;
    }
    .header{
        position: relative;
    }
    .estructuraMain{
        display: flex;
        flex-direction: column;
        padding-left: 0rem;
    }
}


@media screen and (max-width: 575px) {
    /*//////////////////////////INDEX.HTML////////////*/
    .header{
        flex-direction: column;
    }
    .header1{
        flex-direction: row-reverse;
    }

    .header2{
        padding-top: 0.5rem;
    }

    .header1 img{
        height: 3rem;
        width: 3rem;
    }

    .logoCarrito{
        width: 25px!important; 
        height: 25px!important;
    }

    .navOculto{
        display:contents;
    }
}

@media screen and (max-width: 300px) {
    /*//////////////////////////INDEX.HTML////////////*/
    .imgMainSegundo{
        min-width: 8rem;
        max-width: 8rem;
        min-height: 8rem;
        max-height: 8rem;
    }

    .seccionMiniaturas{
        gap: 2rem;
    }

    .subTituloMain{
        min-height: 3%;
        align-items: center;
        padding: 0.5rem;
    }
}