
.content{
    width: 100vw;
    min-height: 100vh;
    background-image: url("../img/Fondo_principal.jpg");
    opacity: 1;
}

/*/////////////////////////////////////////// Header*/

.header{
    width: 90vw;
    min-height: 15%;
    display: flex; 
    flex-direction: column;
    padding-top: 0.5rem;
}

.estructuraHeader{
    display: flex;
    position: sticky;
    width: 90vw;
    min-height: 5vh;
}

.estructuraHeader2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: sticky;
    width: 90vw;
    min-height: 5vh;
}



.header1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
}

.header2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 1rem;
    width: 30%;
    height: 100%;
}

.header1 img{
    height: 5rem;
    width: 5rem;
}

.navOculto{
    display:none;
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}



/*/////////////////////////////////////////// MAIN */
.main{
    width: 100vw;
    min-height: 50vh;
    display: flex;
}

.estructuraMain{
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    width: 90vw;
    min-height: 50vh;
    gap: 3rem;
}

.mainPrimero{
    min-height: 10vh;
    width: 100%;
}

.mainSegundo{
    min-height: 50vh;
    max-width: 100%;
    display: flex; 
    flex-wrap: wrap;

}

.mainPeliculas{
    min-height: 50vh;
    max-width: 100%;
    display: flex; 
    flex-wrap: wrap;
    gap: 3rem;
}



.mainMasVistas{
    min-height: 33%;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: column;
}

.seccionMiniaturas{
    min-height: 80%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

.subTituloMain{
    display: flex;
    justify-content:space-between;
    height: 10%;
    max-height: 100%;
    width: 100%;
    margin-top: 2rem;
}

.subTituloMain h5{
    color: whitesmoke;
}

.cartas{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cartas:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.cartas span{
    color: white;
}

.cartas-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.imgMainSegundo{
    min-width: 13rem;
    max-width: 13rem;
    min-height: 13rem;
    max-height: 13em;
}

/*/////////////////////////////////////////// FOOTER */

.footer{
    min-height: 30vh;
    width: 100vw;
    display: flex;  
    flex-direction: column;
    background-color: black;
}


.footer1{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}

.footer2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;   
}

.footerA{
    text-align: center;
    color:white;
    text-decoration: none;
    font-size: 1rem;
}



/*//////////////////////////////////////////////////////   @mediaQuery ////*/
@media screen and (max-width: 1700px) {
    /*//////////////////////////INDEX.HTML////////////*/
    .seccionMiniaturas{
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }


}

@media screen and (max-width: 1380px) {
    /*//////////////////////////INDEX.HTML////////////*/
    .mainMasVistas{
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .seccionMiniaturas{
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

}

@media screen and (max-width: 1000px) {
    /*//////////////////////////INDEX.HTML////////////*/
    .header{
        position: relative;
    }
    .estructuraMain{
        display: flex;
        flex-direction: column;
    }

    
    .subTituloMain{
        height: 3%;
        width: 100%;
        justify-content:center;

    }
}


@media screen and (max-width: 575px) {
    /*//////////////////////////INDEX.HTML////////////*/
    .content{
        padding-left: 0rem;
    }
    .estructuraHeader{
        padding-left: 0.5rem;
    }

    .header{
        flex-direction: column;
    }
    .header1{
        width: auto;
        flex-direction: row-reverse;
    }

    .header2{
        width: 70%;
        padding-top: 0.5rem;
    }

    .header1 img{
        height: 3rem;
        width: 3rem;
    }

    .logoCarrito{
        width: 25px!important; 
        height: 25px!important;
    }

    .navOculto{
        display:contents;
    }

    .estructuraMain{
        padding-left: 0rem;
    }


    .footer1{
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        display: contents;
    }
}

@media screen and (max-width: 300px) {
    /*//////////////////////////INDEX.HTML////////////*/
    .imgMainSegundo{
        min-width: 8rem;
        max-width: 8rem;
        min-height: 8rem;
        max-height: 8rem;
    }

    .seccionMiniaturas{
        gap: 2rem;
    }

    .footer{
        margin-top: 10rem;
    }
}