*{
    margin:0%;
    padding: 0%;
}

.content{
    width: 90vw;
    height: 100vh;
    background-color: black;
}

/*/////////////////////////////////////////// Header*/

.header{
    width: 90vw;
    min-height: 15%;
    display: flex; 
}

.estructuraHeader{
    width: 90vw;
    min-height: 15vh;
    display: flex;
}

.header1{
    width: 30%;
    height: 100%;
    display: flex;
}

.header2{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.header1 img{
    height: 10rem;
    width: 10rem;
}

.buscador{
    width: 100%;
    display: flex;
}

/*/////////////////////////////////////////// MAIN */

.main{
    width: 90vw;
    min-height: 100vh;
    display: flex;
}

.estructuraMain{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.mainPrimero{
    max-width: 10%;
    min-height: 100vh;
    display: flex;
}

.mainSegundo{
    min-height: 100vh;
    max-width: 100%;
    display: flex; 
    flex-wrap: wrap;
}

.mainMasVistas{
    min-height: 33.3333333333%;
    max-height: 100%;
    width: 90vw;
    display: flex;    
    flex-direction: column;
}

.seccionMiniaturas{
    min-height: 90%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.subTituloMain{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10%;
    max-height: 100%;
    max-width: 100%;
}

.subTituloMain h6{
    color: blanchedalmond;
}

.card{
    min-width: 10%;
    max-width: 50%;
    min-height: 10%;
    max-height: 50%;
    margin: 3rem;
}

.imgMainSegundo{
    min-width: 13rem;
    max-width: 13rem;
    min-height: 13rem;
    max-height: 13rem;
}

.footer1{
    width: 100vw;
    height: 10vh;
    display: flex;
}


.nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*/////////////////////////////////////////////////////////////   @mediaQuery ////*/

@media screen and (max-width: 800px) {
    /*//////////////////////////INDEX.HTML////////////*/

    .estructuraMain{
        display: flex;
        flex-direction: column;
    }

    .mainPrimero{
        min-height: 5%;
        max-height: 5%;
        max-width: 100%;
    }

    .mainSegundo{
        padding-top: 2rem;
        min-height: auto;
        max-width: 100%;
    }

    .card{
        margin: 1rem;
    }

    .subTituloMain{
        min-height: 5%;
        align-items: center;
        padding: 1rem;
    }
    

}

