body{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top, center;
    align-items: center;
    gap: 10px;
}
.formulario{
    border: 1px solid white;
    position: absolute;
    left: 35%;
    top: 12.5%;
    width: 30%;
    height: auto;
    justify-content: center;
    background: rgb(49, 49, 49);
    border-radius: 15px;
    display: flex;
    justify-content: top, center;
    flex-direction: column;
    align-items: 50%;

}
.formulario h1 {
    text-align: center;
    color: red;
    border-bottom: 1px solid white; 
}
form .usuario{
    position: relative;
    margin: 5px;
    color: white;
    border-bottom: 1px solid white; 
}
.usuario input{
    width: 100%;
    height: 15%;
    font-size: 13.5px;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.usuario label{
    position: relative;
    top: -3px;
    left: 5px;
    color: gainsboro;
    font-size: 20px;
}
form .contrasena{
    position: relative;
    margin: 5px;
    color: white;
    border-bottom: 1px solid white; 
}
.contrasena input{
    width: 100%;
    height: 15%;
    font-size: 13.5px;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.contrasena label{
    position: relative;
    left: 5px;
    top: -3px;
    color: gainsboro;
    font-size: 20px;
}

form .recuperar{
    color: white;
    position: relative;
    left: 1%;
}

form .recuperar input{
    width: 25%;
    height: 25px;
    border: 3px solid;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    color: black;
    cursor: pointer;
}
form .sesion{
    position: relative;
    padding: 10px 0 10px 15px;
    margin: 5px;
}
form .sesion input{
    width: 94%;
    height: 40px;
    border: 3px solid;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    color: black;
    outline: none;
    cursor: pointer;
}

form .cuenta input{
    width: 100%;
    height: 40px;
    border: 3px solid;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    color: black;
    outline: none;
    cursor: pointer;
}

